<div>
  <h1>Followers for {{login}} </h1>
  <div>
    <input type="text" [(ngModel)]="login" (keyup.enter)="fetchFollowers()"/>
    <button (click)="fetchFollowers()">Get followers</button>
  </div>
  <div *ngIf="followers; else indicator">
    <div *ngIf="followers.length > 0; else empty">
      <div *ngFor="let follower of followers" class="follower">
        <div>
          <img src="{{follower.avatar_url}}" class="avatar">
        </div>
        <div class="follower-info">
          <p class="follower-name">{{follower.login}}</p>
          <p class="follower-url"><a href="{{follower.html_url}}" target="_blank">{{follower.html_url}}</a></p>
        </div>
      </div>
    </div>
    <ng-template #empty>
      Ничего нет.
    </ng-template>
  </div>
  <ng-template #indicator>
    {{loadingText}}
  </ng-template>
  <div *ngIf="errorText !== ''">{{errorText}}</div>
</div>
